@model GZTimeTracker.Web.Models.ProjectModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

    <h2>@Localizer["View.Project.Create.Caption"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarTimeUTC" class="control-label"></label>
                <input asp-for="StarTimeUTC" class="form-control" />
                <span asp-validation-for="StarTimeUTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeUTC" class="control-label"></label>
                <input asp-for="EndTimeUTC" class="form-control" />
                <span asp-validation-for="EndTimeUTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["View.Project.Create.Caption.Save"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["View.Project.Create.Caption.BackToList"]</a>
</div>

